<body id="lobby">

    <input type="hidden" id="user-info" user-name="{{ user_info.username }}" gym-name="{{ user_info.gymName }}"
        gender="{{ user_info.gender }}">

    <main>
        <div class="lobby-container">
            <div class="lobby-container-leftside">
                <div class="logo-section">
                    <img src="/images/pokemon_logo.png" alt="Pokemon logo">
                    <h2>Battle Simulator ™</h2>
                </div>
                <div class="join-element">
                </div>
            </div>
            <div class="lobby-container-rightside">
                <div class="topside-inside-container">
                    <div class="title-container">
                        <div class="inside-icon">
                            <img src="/images/icons/pokeball.svg" alt="Pokemon Ball">
                        </div>
                        <div class="inside-title">
                            <h2>Pokemon</h2>
                            <p>Trainers</p>
                        </div>
                    </div>
                    {{!-- {{#each user_info.users}} --}}
                    <ul id="trainer-container">
                        {{!-- <div class="trainer-card">
                            {{#ifEqual gender "girl"}}
                            <img src="/images/pokemon_girl_trainer.png" alt="Girl Player Icon">
                            {{else}}
                            <img src="/images/pokemon_boy_trainer.png" alt="Boy Player Icon">
                            {{/ifEqual}}
                            <p> {{user}} </p>
                        </div> --}}
                    </ul>
                    {{!-- {{/each}} --}}
                </div>
                <div class="bottomside-inside-container"></div>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>