<body id="lobby">

    <main>

        <div class="login-container">
            <div class="login-container-leftside">
                <div class="logo-container">
                    <img id="logo-image" src="/images/pokemon_logo.png" alt="Pokemon logo">
                    <h2>Battle Simulator ™</h2>
                </div>
                <div class="intro-text">
                    <p>Challenge your friends to a pokemon battle in this <span>pokemon battle simulator</span> and find
                        out who
                        is the best pokemon trainer.
                    </p>
                </div>
                <div class="image-list">
                    <img class="pokemon-image" src="/images/icons/bullbasaur.svg" alt="bulbasaur">
                    <img class="pokemon-image" src="/images/icons/charmander.svg" alt="charmander">
                    <img class="pokemon-image" src="/images/icons/pikachu-2.svg" alt="pikachu">
                    <img class="pokemon-image" src="/images/icons/squirtle.svg" alt="squirtle">
                </div>
            </div>
            <div class="line"></div>
            <div class="login-container-rightside">
                <div class="inside-container">
                    <div class="login-title-text">
                        <h2>Welcome Trainer!</h2>
                        <p>Fill in the form & Sign up</p>
                    </div>
                    <div class="login-form">
                        <form action="/lobby" method="POST">
                            <div class="gamer-tag">
                                <label for="username">Enter your gamer tag</label><br>
                                <input type="text" id="gamer-tag" name="username" required>
                            </div>
                            <div class="pokemon-gyms">
                                <label for="gym">Select your gym lobby</label><br>
                                <select name="gym" id="pokemon-gyms" required>

                                    {{#ifCond gyms.pewter_gym '2'}}
                                    <option value="pewter-gym" disabled>Pewter Gym</option>
                                    {{else}}
                                    <option value="pewter_gym">Pewter Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.cerulean_gym '2'}}
                                    <option value="cerulean_gym" disabled>Cerulean Gym</option>
                                    {{else}}
                                    <option value="cerulean_gym">Cerulean Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.vermilion_gym '2'}}
                                    <option value="vermilion_gym" disabled>Vermilion Gym</option>
                                    {{else}}
                                    <option value="vermilion_gym">Vermilion Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.celadon_gym '2'}}
                                    <option value="celadon_gym" disabled>Celadon Gym</option>
                                    {{else}}
                                    <option value="celadon_gym">Celadon Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.fuchsia_gym '2'}}
                                    <option value="fuchsia_gym" disabled>Fuchsia Gym</option>
                                    {{else}}
                                    <option value="fuchsia_gym">Fuchsia Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.saffron_gym '2'}}
                                    <option value="saffron_gym" disabled>Saffron Gym</option>
                                    {{else}}
                                    <option value="saffron_gym">Saffron Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.cinnabar_gym '2'}}
                                    <option value="cinnabar_gym" disabled>Cinnabar Gym</option>
                                    {{else}}
                                    <option value="cinnabar_gym">Cinnabar Gym</option>
                                    {{/ifCond}}

                                    {{#ifCond gyms.viridian_gym '2'}}
                                    <option value="viridian_gym" disabled>Viridian Gym</option>
                                    {{else}}
                                    <option value="viridian_gym">Viridian Gym</option>
                                    {{/ifCond}}

                                </select>
                            </div>
                            <div class="gender-checkboxes">
                                <p>Select your gender</p>
                                <input type="radio" id="girl" name="gender" value="girl" required>
                                <label for="girl"><img src="/images/girl.png" alt="girl character"></label>
                                <input type="radio" id="boy" name="gender" value="boy" required>
                                <label for="boy"><img src="/images/boy.png" alt="boy character"></label>
                            </div>
                            <div class="submit-button">
                                <button type="submit" class="join-button">Join lobby</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
</body>